#login{
height:300px;
width:300px;
border-style: solid;
border-color: black;
border-radius: 50px;
object-fit: cover;
}
#Para{
    width: 60%;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}
#body{
    background-image: url("Madhura image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
#resume a{
    text-decoration: none;
}
#git a{
    text-decoration: none;
}
#email a{
    text-decoration: none;
}
#linkedin a{
    text-decoration: none;
}

h1,h4{
    color: white;
}
a{
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;  
  text-align: center;
  border-radius: 50%;  
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#resume a {
  background-color: #1e88e5;   
  color: white;
}
#git a {
  background-color: #2e7d2e;
  color: white;
}

#email a {
  background-color: #f9a825;   
  color: black;
}

#linkedin a {
  background-color: #1565c0;   
  color: white;
}